/**************************************************

modal 디자인

**************************************************/
.modalForm {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);

  .modalContent {
    width: 500px;
    height: 600px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 5px 20px;
    transition: margin .2s ease-out;
    margin: 100px auto 0;

    header{
      display: flex;
      border-bottom: 1px solid;
      padding: 0 10px;

      h1 {
        width: 460px;
        margin: 0;
        height: 58px;
        line-height: 58px;
      }

      .closeBtn {
        margin-top: 20px;
        width: 20px;
        height: 20px;
        border: none;
        background: #fff;
        font-size: 13px;

        &:hover {
          background: gray;
          border-radius: 5px;
          color: #fff;
        }
      }
    }
  }
}

.open {
  display: block !important;
}

/**************************************************

nav 디자인

**************************************************/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #504954;
  text-align: center;
  color: wheat;

  .logo {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;

    li {
      list-style: none;
      margin-right: 10px;

      a {
        color: wheat;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
  .burger {
    display: none;
    cursor: pointer;

    div {
      width: 25px;
      height: 3px;
      background-color: wheat;
      margin: 5px;
      transition: all 0.3s ease;
    }
  }
}
